*.Rproj
*.Rproj*
*.csv
.Rhistory
01a_Data-Wtshd-Simple.RData
02a_Data_Clean.RData
02b_Missing_Data_Predictions.RData
03_Data_Annual.RData
03_Data_Monthly.RData
max_month.RData
med_month.RData
min_month.RData
out_doy2.RData
out_max.RData
out_med.RData
out_min.RData
defunct_code/
drafts/AGU_Journal/
drafts/Nature\ Climate\ Change/
drafts/*pdf
mapPlot/
drafts/PNAS/authorInformation/
drafts/PNAS/Jon_Sean_Edits/
drafts/PNAS/*pdf
drafts/PNAS/pnas*
drafts/PNAS/*.vim
drafts/PNAS/*.sty
drafts/PNAS/Chezik_PNAS_MS.xwm
drafts/PNAS/Chezik_PNAS_SI.xwm
*xwm
.Rproj.user

*.pages
