*.Rproj
*.Rproj*
*.csv
.Rhistory
01a_Data-Wtshd-Simple.RData
02a_Data_Clean.RData
02b_Missing_Data_Predictions.RData
03_Data_Annual.RData
03_Data_Monthly.RData
max_month.RData
med_month.RData
min_month.RData
out_doy2.RData
out_max.RData
out_med.RData
out_min.RData
defunct_code/
drafts/AGU_Journal/submission\ 1/
drafts/AGU_Journal/drafts/
drafts/AGU_Journal/guide/
drafts/AGU_Journal/submission\ 2/*.pdf
drafts/AGU_Journal/submission\ 2/*.bst
drafts/AGU_Journal/submission\ 2/*.pages
drafts/AGU_Journal/submission\ 2/*.cls
drafts/AGU_Journal/submission\ 2/makefile
drafts/Nature\ Climate\ Change/
drafts/PNAS/
mapPlot/
drafts/PNAS/authorInformation/
drafts/PNAS/Jon_Sean_Edits/
drafts/PNAS/*pdf
drafts/PNAS/pnas*
drafts/PNAS/*.vim
drafts/PNAS/*.sty
drafts/PNAS/Chezik_PNAS_MS.xwm
drafts/PNAS/Chezik_PNAS_SI.xwm
*xwm
.Rproj.user
*.pages
LandCoverNotes*
drafts/AGU_Journal/submission\ 2/Review Response.docx
